<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Uzzal kar. It uses data form mapbox.com and openweathermap.org</p>
    <img class="portrait" src="./img/robot.png" alt="Image">
</div>
{{>footer}}
</body>
</html>